KakRaboti/Service References/KakRabotiService/KakRabotiService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64791/KakRabotiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" />
  <xs:element name="DeleteComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArticles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="GetAllArticlesResult" nillable="true" type="q1:ArrayOfArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotApprovedArticles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotApprovedArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="GetNotApprovedArticlesResult" nillable="true" type="q2:ArrayOfArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveArticleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="GetArticleByIdResult" nillable="true" type="q3:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArticleViews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArticleViewsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q4:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="GetCategoryByIdResult" nillable="true" type="q5:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="category" nillable="true" type="q6:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="CreateCategoryResult" nillable="true" type="q7:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="category" nillable="true" type="q8:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="EditCategoryResult" nillable="true" type="q9:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="article" nillable="true" type="q10:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="CreateArticleResult" nillable="true" type="q11:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="article" nillable="true" type="q12:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditArticleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="DeleteArticleResult" nillable="true" type="q13:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="GetCommentsResult" nillable="true" type="q14:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="comment" nillable="true" type="q15:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/KakRabotiBusiness" minOccurs="0" name="CreateCommentResult" nillable="true" type="q16:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>